body {
  font-family: Georgia;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -80%; 
  height: 100vh;  
  width: 80%; 
  max-width: 500px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  z-index: 1002;
  padding: 20px;
  background-color: #f29d86;
  font-size: clamp(24px, 5vw, 40px);
  text-align: center;
  display: flex;
  flex-direction: column; 
  padding-bottom: 60px;
}

.sidebar.open {
  right: 0;
}

.sidebar-content h2 {
  font: 50px;
    font-family: Georgia;
    color: #4A4A4A;
    font-weight: bold;
  margin-top: 0;

}

.sidebar-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li button {
  background: none;
  border: none;
  font-size: clamp(18px, 4vw, 30px);
  font-family: Georgia;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  color: #4A4A4A;
}

.sidebar ul li button:hover {
  background-color: #f7b6a4;
  border-radius: 5px;
}
/* 
.sidebar-logout {
  margin-top: auto; 
  width: 100%;
} */

.sidebar-logout button {
  width: 100%;
  padding: 15px 10px;
  font-size: clamp(18px, 4vw, 30px);
  background-color: #e74c3c; 
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 60px;
  font-family: Georgia;
}

.sidebar-logout button:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .sidebar {
    padding: 15px;
  }
  
  .sidebar-logout button {
    padding: 12px 10px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    padding: 10px;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar-logout button {
    padding: 10px;
  }
}

