body{
  background: linear-gradient(to right, #fffaf0, #fdf6e3, #f8f1d9);
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section-divider {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.section-divider h2 {
  font-size: 80px;
  font-family: Georgia;
  margin-bottom: 0.5rem;
  color: #265c4c;
}

.section-divider .line {
  height: 3px;
  width: 800px;
  background-color: #4f46e5; 
  margin: 0 auto;
  border-radius: 2px;
}
